---
layout: page
title: Blog
permalink: /blog/
order: 5
---

<p>
  Every week we publish a weekly report on what we have been up to. (<a href="/blog/index.rss">RSS/Atom feed</a>)
</p>

{% assign by_week = site.blog | sort: 'week' | reverse %}

<ul>
{% for page in by_week %}
{% if page.published %}
  <li>
    <a href="/blog/posts/{{ page.week }}/">Week {{ page.week }}</a>
  </li>
{% endif %}
{% endfor %}
</ul>
