---
layout: default
---

<div class="post post-simple">
  <header class="post-header">
    <div class="row">
      <div class="one columns">&nbsp;</div>
      <div class="eight columns">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="three columns">&nbsp;</div>
    </div>
  </header>

  <div class="row">
    <div class="one columns">&nbsp;</div>
    <div class="eight columns">
      {{ content }}
    </div>
    <div class="three columns">&nbsp;</div>
  </div>
</div>
